@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Montserrat:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 16px;
  text-decoration: none;
}

:root {
  --body-color: #2d2d2d;
  --primary-color: white;
  --secondary-color: yellow;
  --hover-color: blueviolet;
  --gradient-bg: linear-gradient(to top,rgba(255,255,255,0.4), rgba(44, 44, 44, 0.7));
}

.light-theme {
  --body-color: rgb(196, 191, 191);
  --primary-color: black;
  --secondary-color: blue;
  --hover-color: blueviolet;
  --gradient-bg: linear-gradient(to top,rgba(44, 44, 44, 0.7)rgba(255,255,255,0.4), );
}

body {
  background-color: var(--body-color);
  height:100%;
  width:100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  color: var(--primary-color);
}

.nav-links li a:hover {
  color: var(--hover-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 35px;
  margin: 0px;
  
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blueviolet;
  transition: .4s;
  border-radius: 34px;
}

.switch input {
  display: none;
}

.slider:before {
  position:absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50px;
}

input:checked + .slider {
  background-color: aquamarine;
}

input:checked + .slider::before {
  transform: translateX(35px);
}

.container {
  width: 90%;
  margin: 0 100px;
  color: whitesmoke;
  display: relative;
}

.bar-top {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.state{
  margin-left: 10px;
  color: var(--primary-color);
}

.date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.day {
  margin-right: 10px;
  color: var(--primary-color);
}

.display-weather {
 width: 100%; 
 display: grid;
 justify-content: center;
 align-items: center;
}

.condition {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
}

.temp {
  text-align: center;
  display: flex;
  justify-content: center;
}

.day-temp {
  font-size: x-large;
  font-weight: bold;
  align-items: center;
  margin: 0 5px;
  color: var(--primary-color);
}

.night-temp {
  font-size: x-large;
  font-weight: bold;
  align-items: center;
  margin: 0 5px;
  color: var(--primary-color);
}

.celcius {
  display: inline;
  font-size: smaller;
  color: var(--secondary-color)
}

.next-weather {
  width: 90%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  padding: 90px;;
  background-image: var(--gradient-bg);
}

.col1 {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.fs-1 {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.col2 {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.fs-2 {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.col3 {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.fs-3 {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.toggle-button {
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) and (min-width: 320px ) {


  .header{ 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 10%;
      width: 60%;
  }

  .toggle-button {
    display: flex;
    align-items: center;
    margin-right: 30px;
  } 

  .nav-links {
    display: none;
    width: 100%;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

   ul{
    width: 100%;
    flex-direction: column;
  }

  .nav-links li {
    text-align: center;
  }

  .nav-links li a {
    padding: .5rem 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .switch {
    position: relative;
    display: none;
    width: 35px;
    height: 20px;
    margin: 0 40px 0 0;
    padding-right: 20px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: blueviolet;
    transition: .4s;
    border-radius: 34px;
    padding-right: 15px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider:before {
    position:absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  input:checked + .slider {
    background-color: aquamarine;
  }
  
  input:checked + .slider::before {
    transform: translateX(15px);
  }

  .switch.active {
    display: flex;
  }

  .container {
    width: 85%;
    margin: 25px;
    color: whitesmoke;
    display: relative;
  }
  
  .bar-top {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .state{
    margin-left: 10px;
  }
  
  .date {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .day {
    margin-right: 10px;
    padding-left: 25px;
  }
  
  .display-weather {
   width: 100%; 
   display: grid;
   justify-content: center;
   align-items: center;
  }
  
  .condition {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
  }
  
  .temp {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .day-temp {
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    margin: 0 5px;
  }
  
  .night-temp {
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    margin: 0 5px;
  }
  
  .next-weather {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: var(--gradient-bg);
  }
  
  .col1 {
    align-items: center;
    text-align: center;
    margin-top: 0;
  }
  
  .fs-1 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .col2 {
    text-align: center;
    margin-top: 0;
  }
  
  .fs-2 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .col3 {
    align-items: center;
    text-align: center;
    margin-top: 0;
  }
  
  .fs-3 {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 0;
  }

}

